.body{
    background: white;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    @apply
    bg-gray-50;
    border-radius: 5px;
    width: 30%;
    margin-left: 50%;
    margin-top: 8%;
    padding: 0.1%;
    /* height: 600px; */
}

.formbody{
    text-align: left;
    padding: 10px;
}

.formbody > *{
    padding: 5px;
}


.form_input{
    @apply
    border border-custom-green
    rounded-md;
    width: 90%; 
    margin-top: 2%;
    margin-left: 4%;
    height: 8%;
    padding-left: 2%;
    /* text-align: center; */
}

.btn{
    @apply 
    mt-6 flex-row text-center
    bg-custom-green
    cursor-pointer 
    text-custom-cream2
    rounded-md;
    width:20%;
    height:5%;
}