.body{
    background: white;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    @apply
    border border-custom-green
    bg-gray-50;
    /* border-radius: 5px; */
    width: 36%;
    margin-left: 50%;
    margin-top: 6%;
    padding: 0.1%;
    border-top-left-radius: 14%;
    border-bottom-left-radius: 14%;
    height: 60%
    /* height: 600px; */
}

.formbody{
    @apply text-base;
    text-align: center;
    padding: 1%;
}

.formbody > *{
    padding: 5px;
}


.form_input{
    @apply
    text-xl
    border border-custom-green
    rounded-md;
    width: 80%; 
    margin-top: 2%;
    /* margin-left: 4%; */
    height: 40%;
    padding-left: 2%;
    
    /* text-align: center; */
}

.btn{
    @apply 
    mt-6 flex-row text-center text-lg
    bg-custom-green
    cursor-pointer 
    text-custom-cream2
    rounded-md;
    width:20%;
    height:10%;
    margin-left: 40%;
    margin-bottom: 4%;
}

.warning{
    @apply
    text-red-500
    text-center
    text-sm
}